﻿<div class="col-md-12" style="background-color: blueviolet !important">
    <div class="row center-block" ng-app="HeroesApp">
        <div ng-controller="heroesController">
            <div ng-if="isDataLoaded" class="text-center">
                <h1>Marvel Heroes:</h1>
                <div class="center-block text-center">
                    <div ng-repeat="h in heroes.Heroes" id="{{h.Id}}" class="col-sm-2 table-bordered center-block heroOverviewItem">
                        <div class="center-block text-center">
                            <img ng-src="{{h.ThumbnailSource + '/standard_medium.' + h.Extension}}" />
                            <p ng-bind="h.Name"></p>
                            <div>
                                <a ng-click="getHero(h.Id)" class="btn-xs">Detail</a>
                                <a ng-repeat="u in h.Urls" ng-if="u.Type !== 'detail'" href="{{u.Url}}" class="btn-xs text-capitalize">{{u.Type}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul uib-pagination total-items="heroes.Total" ng-model="currentPage"
                ng-change="pageChanged(currentPage)" boundary-links="true" force-ellipses="true" max-size="5" items-per-page="20"></ul>
        </div>
    </div>
</div>