﻿<button type="button" class="close padding" data-dismiss="modal" ng-click="close()">&times;</button>

<div ng-if="isDataLoaded" class="row padding">
    <h1 class="h1">Marvel Hero Details</h1>
    <div class="col-md-4">
        <img ng-src="{{hero.ThumbnailSource + '/portrait_xlarge.' + hero.Extension}}" />
    </div>
    <div class="col-md-6">
        <h2 ng-bind="hero.Name"></h2>
        <p ng-bind="hero.Description"></p>
    </div>
    <div class="col-md-12">
        <h3>Comics:</h3>
        <table class="table table-bordered table-responsive">
            <tr ng-repeat="comics in hero.Items">
                <td>{{comics.Name}}</td>
            </tr>
        </table>
    </div>
</div>