﻿.heroOverviewItem {
    margin: 3px !important;
    padding: 5px;
    background-color: white;
    height: 200px;
}

.heroOverviewButton {
    padding: 5px !important;
    border-width: 1px !important;
    border-color: grey !important;
    margin-right: 3px !important;
}

.padding {
    padding: 15px;
}
